
.copyButton {
    all: unset;
    margin-right: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.copyButton:hover  {
    scale: 1.1;
}