@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --fontFamily: 'Open Sans', sans-serif;
    --darkBlue: #1c445f;
    --dark: #090707;
    --primary: #38a3a5;
    --secondary: #57cc99;
    --info: #80ed99;
    --success: #28d364;
    --warning: #fad321;
    --danger: #fd3146;
    --white: #f3f3f3;
    --grey: #c4c4c4;
    --shadow: rgba(0, 0, 0, 0.25);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fontFamily);
}
